@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

/* Generals Styles */
body {
    font-family: 'Mooli', sans-serif; /* Set Montserrat font */
    background: #0e0720;
    background: linear-gradient(15deg, rgba(14,7,32,1) 30%, rgba(5,5,65,1) 88%, rgba(63,8,103,1) 100%); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    font-weight: 700; /* Font bold */
}

p {
    font-size: 16px;
    color: #666;
    font-weight: 400; /* Font Weight Regular */
}

/* Logo's style */
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 15px;
    margin-top: 10px;
}

.logo>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text {
    font-family: 'Mooli', sans-serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: 400;
    margin: 0px; 
}


